<!-- Category & Search Bar -->
    <div class="input-group mb-3">
      <form action="/products" method="GET">
        <div class="input-group-prepend">
          <select name="searchCategories" class="selectpicker border-right-0" multiple title="&nbsp;&nbsp;&nbsp;All Categories">  
            <% categories.forEach(function(category){ %>
              <option><%= category.categoryName %></option>
            <% }); %>  
          </select>
        </div>
        <input id="search" name="searchText" type="text" class="form-control" aria-label="Text input with dropdown button">
        <div class="input-group-append">
          <input type="submit" class="btn btn-secondary"
            id="button-addon2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</input>
        </div>
      </form>
    </div>
