<%- include partials/header %>
<%- include partials/login %>
<!-- Page Content -->
<div class="container">

    <%- include partials/new_product %>

</div>
</div>
<!-- /.container -->

<!-- <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">
    <h2 class="text-center mb-0 pt-5 pb-3">You may also Like</h2>


<%- include partials/footer %>