<div>

<h3>Add new videos</h3>

<form action="/test/signin" method="POST">

	<div class="form-group">
		<label for="staticEmail">Email</label>
        <input type="email" class="form-control" name="emailx" id="staticEmail" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="inputPassword">Password</label>
        <input id="inputPassword" class="form-control" name="pwdx" type="password" value="" placeholder="password">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-info">Save</button>
	</div>

</form>

<a href="/">Cancel</a>

</div>
